 /*cake css sheet by eli gerena 
standardizing the html and body with common uses */
html{
    background-color: wheat;
    width: 100%;
    font-family: Helvetica;
}
body{
    background-color: gray;
    width:960px;
    margin: 0 auto;
    border-radius:5px 5px 5px 5px;
}
li{
    list-style: none;
    float: left;
    
}
/* -------------------------------- HEADER SECTION */
.header,.footer{
    overflow:auto;
    background-color: #ffa982;
    margin-top:5px;
    margin-bottom: -10px;
    border: solid;
    border-width:5px; 
    border-color:#ffa972;
    border-radius:5px 5px 0 0;
}
.logo{
    height: 80px;
    padding: 5px;
    background-image: url('../img/Piece_of_Cake.png');
    background-repeat: no-repeat;
    width: 100px;
    background-size:150px 100px;
    background-position:-15px;
    display: inline-block;
    float: left;
}
.header h1{
    font-size: 30px;
    float: left;
}
a{
    text-decoration: none;
    color: black;
    list-style: none;
}
.navigation{
    padding: 13px;
    float: left;
}
.navigation li{
    float: left;
    list-style: none;
    font-family: Helvetica;
    padding: 2px;
    margin: 3px;
}
.member-entry{
    float: right;
}
.member-entry li{
    list-style: none;
    float: left;
    margin: 10px;
    padding:2px;
}
/* -------------------------------- LOGIN AND REGISTRATION FORMS SECTION */

.popout{
    background-color: gray;
    display: none;
    position:absolute; 
    right: 247px;
    top:105px;
    float: right;
    text-align: center;
    border:1px solid;
    border-top:none;
    border-radius:0 0 5px 5px;
}
.popout hr{
    clear: both;
}
#login{
    padding: 5px;
    display: inline;
}
#login input{
    float: left;
    clear: both;
}
#login label{
    float: left;
    clear: left;
 }
#login #current-submit,#registration #reg-submit{
    float: right;
    clear: both;
}
#registration{
    padding: 5px;
    display:inline;
}
#registration input{
    float: left;
    clear: both;
}
#registration label{
    float: left;
    clear: left;
 }
 /* -------------------------------- BODY SECTION */

.body-div{
    width: 100%;
    height: 100%;
    display:block;
    clear: both;
    overflow: hidden;
}
.body-div .main{
    height: 1401px;
    background-color:#ccc;
}
.cta{
    height: 583px;
    width: 100%;
    clear: both;
    background-image: url('../img/mulitple-cakes-1opti.jpg');
    background-repeat: no-repeat;
    background-size: 101%;
}
.cta h2{
    width:327px;
    font-family: 'Bilbo Swash Caps', cursive;
    font-style:normal;
    font-size: 30px;
    position: relative;
    top: 30px;
    left: 50px;
    margin: 10px;
}
.statement{
    display: inline-block;
    float: right;
    margin: 10px;
    padding: 2px;
    width: 45%;
}
.cta-entry{
    font-size: 22px;
    display: inline-block;
    position: relative;
    left: 72%;
    top: 461px;
    margin: 10px;
}
/* -------------------------------- DETAIL INFORMATION SECTION */

.wed, .birth, .corp{
    margin: 10px 0px 10px 0px;
    background-color: #ccc;
    border-radius: 5px;
}
.wed a, .birth a, .corp a{
    float:right;
    padding:5px;
    margin: 30px;
}
#wedding h2{
    border-radius: 5px;
    background-image: url('../img/weddingcakeredbowwhiteiceopti.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 180px;
    width: 250px;
    color: white;
    font-family: 'Bilbo Swash Caps', cursive;
    float: left;
    display: inline-block;
}
#wedding p{
    margin: 10px;
    padding: 12px;
    width: 68%;
    float: right;
    clear: right;
}
.birth h2{
    border-radius: 5px;
    background-image: url('../img/radial-line-cakeopti.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 180px;
    width: 250px;
    color: white;
    font-family: 'Bilbo Swash Caps', cursive;
    float: left;
}
.birth p{
    margin: 10px;
    padding: 12px;
    width: 68%;
    float: right;
    clear: right;
}
.corp h2{
    border-radius: 5px;
    background-image: url('../img/whiteflowercakeopti.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 180px;
    width: 250px;
    color: white;
    font-family: 'Bilbo Swash Caps', cursive;
    float: left;
}
.corp p{
    margin: 10px;
    padding: 12px;
    width: 68%;
    float: right;
    clear: right;
}
/* -------------------------------- DIVIDER AND FOOTER SECTION */

hr{
    margin-top: 10px;
}
.footer{
    padding: 5px;
    text-align: center;
    clear: both;
    border-radius: 0 0 5px 5px;
}
.footer p{
}
/* -------------------------------- LINK STATES SECTION */
/* -------------------------------- HOVER SECTION */
body a:hover{
    color: white;
}
/* -------------------------------- APP PAGE SECTION */
/* -------------------------------- HEADER SECTION */
.app_header{
        background-color: #ffa982;

}
.app_header #nav{
    overflow: hidden;
}
.app_header .navigation{
    float:none;
    overflow: hidden;
    margin-top:5px;
    margin-bottom: -10px;
    /*border: solid;*/
    border-width:5px; 
    border-color:#ffa972;
    border-radius:5px 5px 0 0;
}
#logout{
    float: right;
}
#app-outer-container app_cta{
    width: 500px;
    height: 500px;
}
.app_body-div,.app-corp,.app-birth,.app-wed{
    width: 450px;
    display: block;
    clear: none;
    float: left;
    margin: 7px;
    border-radius: 5px;
    background-color: #ccc;
}

div #wedding{
    margin-top: 20px;
}
#wedding .app-text,.body-div .app-text{
    width: initial;
}
div.body-div{ 
    margin-top: 20px;
    background-color: #ccc;
}
#app-outer-container .cta{
    width: 449px;
}
.app-corp{
    float: right;
    margin-right: 38px;
}
/* -------------------------------- 404 PAGE SECTION */
/* -------------------------------- 404 tabs SECTION */
.tabs{
    float: left;
    display: inline-block;
    margin-bottom: 0px;
    padding: 10px;
    border-style: solid;
    border-radius: 5px 5px 0 0; 
    border-color: gray;
    border-width: 1px;
    background-color: gray;
}
.tabbings{
    background-color:#ccc;
    clear: both;
}
.listing .active,#corperate .listing{
    width: 960px;
    float: left;

}
.404tabs{
    margin-top: 0;
}
.tabs .active{
    border-width:1px 1px 1px 0; 
}
.module .active{
    height: 100%
    display:inline;
    width: 960px;
}
/* ---------------------------------- wedding carousel*/
#carousel {
    width:800px;
    height: 300px;
    display: relative;
    margin: 0 auto;
    margin-top:180px;
  }
  #carousel img {
    width: 300px;
    height: 300px;
    display: hidden; /* hide images until carousel prepares them */
    cursor: pointer; /* not needed if you wrap carousel items in links */
  }
